:host {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  background-color: #000033;
  padding-left: 100px;
  padding-right: 100px;
}

table td {
  color: seagreen;
  font-styl: fantasy;
  justify-content: space-between;
}

h4 {
  color:white;
}
